<?xml version="1.0" encoding="UTF-8"?>
<?include version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Note: UpgradeCode must remain the SAME for future versions of the same product but DIFFERENT for different products. -->
    <Product Id="*" UpgradeCode="{f5a32348-7df6-48ef-84ac-89e863efaa03}" Version="$(var.version)" Language="1033" Name="GlyphX" Manufacturer="GlyphX">
        <Package InstallerVersion="300" Compressed="yes" Platform="x64"/>
        <Media Id="1" Cabinet="glyphx.cab" EmbedCab="yes" />
        <Icon Id="glyphx.ico" SourceFile="glyphx.ico" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPDIR" Name="GlyphX"/>
            </Directory>
            <!-- Step 1: Define the directory structure -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="SGXProgramsFolder" Name="GlyphX">
                    <Directory Id="ApplicationProgramsFolder" Name="GlyphX"/>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <DirectoryRef Id="APPDIR">
            <Component Id="glyphx.exe" Guid="*">
                <File Id="glyphx.exe" Source="GlyphX.exe" KeyPath="yes" Checksum="yes"/>
                <RegistryKey Root="HKCR" Key="glyphx">
                    <RegistryValue Type="string" Value="URL:GlyphX Launcher"/>
                    <RegistryValue Name="URL Protocol" Type="string" Value=""/>
                    <RegistryValue Name="UseOriginalUrlEncoding" Type="integer" Value="1"/>
                    <RegistryValue Key="shell\open\command" Type="string" Value="[APPDIR]GlyphX.exe --model=%1"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <!-- Step 2: Add the shortcut to your installer package -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                     Name="GlyphX" 
                   Description="GlyphX"
                    Target="[APPDIR]GlyphX.exe"
                          WorkingDirectory="APPDIR" 
                          Icon="glyphx.ico"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RemoveFolder Id="RemoveSGXProgramsFolder" Directory="SGXProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\GlyphX\Shortcut" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
           </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*">
                <Shortcut Id="ApplicationDesktopShortcut"
                    Name="GlyphX"
                    Description="GlyphX"
                    Target="[APPDIR]GlyphX.exe"
                    WorkingDirectory="APPDIR" 
                    Icon="glyphx.ico"
                 />
                <RemoveFolder Id="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\GlyphX\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                </Component>
              
        </DirectoryRef>


        <Feature Id="GlyphX" Title="Main Application" Level="1">
            <ComponentRef Id="glyphx.exe" />
            <ComponentGroupRef Id="SharedFilesID" />
            <!-- Step 3: Tell WiX to install the shortcut -->
            <ComponentRef Id="ApplicationShortcut" />   
            <ComponentRef Id="ApplicationShortcutDesktop" /> 
        </Feature>

        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="APPDIR" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.png" />
        <WixVariable Id="WixUIDialogBmp" Value="background.png" />
        <WixVariable Id="WixUILicenseRtf" Value="../../misc/InstallerFiles/Docs/EULA/license_agreement.rtf" />

    </Product>
</Wix>
