<?xml version="1.0" encoding="UTF-8"?>
<?include version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Note: UpgradeCode must remain the SAME for future versions of the same product but DIFFERENT for different products. -->
    <Product Id="*" UpgradeCode="{60300ed8-be8c-4915-aaae-98de51954b98}" Version="$(var.version)" Language="1033" Name="GlyphIt" Manufacturer="SynGlyphX">
        <Package InstallerVersion="300" Compressed="yes" Platform="x64"/>
        <Media Id="1" Cabinet="glyphit.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="SGXFolder" Name="SynGlyphX">
                    <Directory Id="APPDIR" Name="GlyphIt"/>
                </Directory>
            </Directory>
            <!-- Step 1: Define the directory structure -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="SGXProgramsFolder" Name="SynGlyphX">
                    <Directory Id="ApplicationProgramsFolder" Name="GlyphIt"/>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <DirectoryRef Id="APPDIR">
            <Component Id="glyphviewer.exe" Guid="*">
                <File Id="glyphviewer.exe" Source="GlyphViewer.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="datamapper.exe" Guid="*">
                <File Id="datamapper.exe" Source="DataMapper.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="glyphdesigner.exe" Guid="*">
                <File Id="glyphdesigner.exe" Source="GlyphDesigner.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Step 2: Add the shortcut to your installer package -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcuts" Guid="*">
                <Shortcut Id="GDStartMenuShortcut" 
                     Name="GlyphDesigner" 
                   Description="SynGlyphX GlyphDesigner"
                    Target="[APPDIR]GlyphDesigner.exe"
                          WorkingDirectory="APPDIR"/>
                <Shortcut Id="DMStartMenuShortcut" 
                     Name="DataMapper" 
                   Description="SynGlyphX DataMapper"
                    Target="[APPDIR]DataMapper.exe"
                          WorkingDirectory="APPDIR"/>
                <Shortcut Id="GVStartMenuShortcut" 
                     Name="GlyphViewer" 
                   Description="SynGlyphX GlyphViewer"
                    Target="[APPDIR]GlyphViewer.exe"
                          WorkingDirectory="APPDIR"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RemoveFolder Id="SGXProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\SynGlyphX\GlyphIt\Shortcut" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
           </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*">
                <Shortcut Id="ApplicationDesktopShortcutGV"
                    Name="GlyphViewer"
                    Description="SynGlyphX GlyphViewer"
                    Target="[APPDIR]GlyphViewer.exe"
                    WorkingDirectory="APPDIR"/>
                <Shortcut Id="ApplicationDesktopShortcutGD"
                    Name="GlyphDesigner"
                    Description="SynGlyphX GlyphDesigner"
                    Target="[APPDIR]GlyphDesigner.exe"
                    WorkingDirectory="APPDIR"/>
                <Shortcut Id="ApplicationDesktopShortcutDM"
                    Name="DataMapper"
                    Description="SynGlyphX DataMapper"
                    Target="[APPDIR]DataMapper.exe"
                    WorkingDirectory="APPDIR"/>
                <RemoveFolder Id="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\SynGlyphX\GlyphIt\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="GlyphIt" Title="Main Application" Level="1">
            <ComponentRef Id="glyphdesigner.exe" />
            <ComponentRef Id="datamapper.exe" />
            <ComponentRef Id="glyphviewer.exe" />
            <ComponentGroupRef Id="SharedFilesID" />
            <!-- Step 3: Tell WiX to install the shortcut -->
            <ComponentRef Id="ApplicationShortcuts" />   
            <ComponentRef Id="ApplicationShortcutDesktop" />   
        </Feature>

        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="APPDIR" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.png" />
        <WixVariable Id="WixUIDialogBmp" Value="background.png" />
        <WixVariable Id="WixUILicenseRtf" Value="../../misc/InstallerFiles/Docs/EULA/license_agreement.rtf" />

    </Product>
</Wix>
