.collapse-header {
    background-color: rgb(0, 188, 212);
}

.rc-slider-handle {
    border: solid 2px rgb(0, 188, 212);
    background-color: rgb(0, 188, 212);
}

.rc-slider-track {
    background-color: rgba(0, 188, 212, 0.5);
}

.animate-close {
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -ms-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}