<!DOCTYPE html>
<html lang="en">

<% include header %>

<body bgcolor="#111e8f">

    <div style="width: 100%; position: fixed;">
        <div style="width:500px; height: 200px; margin: 0 auto;">
            <img src="img/synglyphx-wht-1.png" alt="SynGlyphX" width="500">
        </div>
    </div>

    <div class="card centerCard" >

            <div style="margin: 0 auto 10px; font-size: 30px; width: 151px; padding-top: 25px;" > Thank You! </div>
            <hr ></hr>

                <form style="margin: 35px auto 0; width: 145px;" action="http://s3.amazonaws.com/glyphit/releases/windows/glyphit_1.2.01.msi">
                    <button id="createButton" class="btn waves-effect waves-light" type="submit" style="width: 145px; background-color: #2d3091" >Download</button>
                </form>

        </div>
</body>
</html>