.cursorHand:Hover {
    cursor: pointer;
}

.cursorDefault:Hover {
    cursor: default;
}

.redHover:Hover {
    color: red;
}

.disableScroll {
    overflow-y: hidden !important;
}

.enableScroll {
    overflow-y: auto !important;
}

.customScroll::-webkit-scrollbar
{
	width: 1.460vh;
	background-color: #ebebeb;
  border-radius: 0px;
}

.customScroll::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	--webkit-box-shadow: inset 0 0 6px rgba(0;0;0;.3);
	background-color: #878c9b;
}

.block {
    height: 100%;
    text-align: center;
    margin: 0px 5px 0px 0px;
    width: 41px;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */

  /* For visualization 
  background: #808080; width: 5px;
  */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  padding: 10px 15px;
}

body {
  margin: 0;
  padding: 0;
}

html,body { 
    height: 100%; 
} 

#wrapper { height: 100%; }

#container { height: 100%; }

.section { height: 100%; }

.grey-hover:Hover {
    background-color: #e6e6e6
}

#root {
    width: 100%;
    height: 100%;
}

.lightHover:hover {
    background-color: #e3e4ef !important;
}

.darkHover:hover {
    background-color: #8984b4 !important;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

.loginOverlayCSS {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.img-circle { 
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.fade {
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
         -o-user-select: none;
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.nodrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.pulse {
  margin: 100px;
  display: block;
  width: 10px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 1);
  animation: pulse 1.2s infinite;
}

@-webkit-keyframes pulse {
  0% { -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); }
  70% { -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0); }
  100% { -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0); }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


table.blueTable {
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #BDBDBD;
  padding: 3px;
  color: #4b4b4b;
}

table.blueTable tbody td {
  font-size: 13px;
}

table.blueTable tr:nth-child(even) {
  background: #D4D7FF;
}

table.blueTable thead {
  background: #2D3091;
  background: -moz-linear-gradient(top, #6164ac 0%, #42449c 66%, #2D3091 100%);
  background: -webkit-linear-gradient(top, #6164ac 0%, #42449c 66%, #2D3091 100%);
  background: linear-gradient(to bottom, #6164ac 0%, #42449c 66%, #2D3091 100%);
}

table.blueTable thead th {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}


.Select-control {
    height: 30px;
}

.Select-placeholder {
    line-height: 26px;
}

.Select-value {
    line-height: 2.683vh !important;
    font-size: 1.651vh;
}

.Select-value-label {
    line-height: 2.683vh;
}


.Select-input {
    height: 26px;
}

.Select-menu-outer{
    top: auto; 
    bottom: 100%
}


.dark-theme {
  --styled-select-placeholder__color: #eee;
  --styled-select__color: white;
  --styled-select__background-color: #555;
  --styled-select__border-color: black;
  --styled-select__border-width: 3px;
  --styled-select__border-radius: 5px;
  --styled-select-control__border-color--focused: black;

  border: none !important;

  --styled-select-control__min-height: 2.5vh;
  --styled-select-input__height: 2.5vh;
  --styled-select-input__line-height: 2.5vh;
  --styled-select-placeholder__line-height: 2.5vh;
  --styled-select-value__line-height: 2.5vh;
 
  --styled-select-menu-outer__margin: -0.521vh 0 0 0;
  --styled-select-menu-outer__padding: 0;
  --styled-select-menu-outer__background-color: #555;
  --styled-select-menu-outer__border-color: black;
  --styled-select-menu-outer__border-style: solid;
  --styled-select-menu-outer__border-width: 3px;
 
  --styled-select-option__background-color: #fff;

  --styled-select-option__color--focused: #333;
  --styled-select-option__background-color--focused: #eee;
 
  --styled-select-option__color--selected: #eee;
  --styled-select-option__background-color--selected: #444;
}

.selectXYZ {
    width:30%;
    z-index: 100;
    font-size: 1.356vh;
}

.topViewContent {
    background-color: #ededff;
}


.ReactVirtualized__Table__headerRow {
    background-color: #b5b5b5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-transform: capitalize !important;
}


textarea {
    resize: none;
}

.tutorial-div:hover{
  cursor: pointer;
}

.hover-saved-row-select:hover{
  background-color: #dadada;
}

.training-hover{
  cursor: pointer;
}

.fa-check:hover, .fa-times:hover {
  cursor: pointer;
}

.user-feed-name:hover{
  cursor: pointer;
  color: #018cbb;
}

.high-count-div{
  margin: auto; 
  text-align: center; 
  font-size: 16px;
  padding: 10px 0 10px 0;
}

.light-color{
  background-color: white;
}

.dark-color{
  background-color: #bfbfbf;
}

td:last-child{
  text-align: center !important;
}

.launch_button{
  cursor: pointer;
}

.launch_button:active{
  transform: translateY(4px);
}

input.selectAllCheck{
  width: 1.357vw;
  height: 1.356vh;
}

.showUserMenu {
  display: flex;
  font-family: "ITCFranklinGothicStd-Med";
}

.signoutUser:hover{
  background-color: lightgrey;
}

.auth0-lock-header-logo {
  width: 250px !important;
}

.auth0-lock-header {
  background-color: black !important;
}

.auth0-lock-overlay{
  opacity: 0.7 !important;
}

.auth0-lock-submit {
  font-size: 18px !important;
}

.auth0-lock-name {
  color: white;
}

@media only screen and (min-width: 481px){
  .auth0-lock.auth0-lock .auth0-lock-header-bg {
    background: none !important;
  }
}

.ReactVirtualized__Table__row{
  padding-right: 1.754vh !important;
}

.ReactVirtualized__Table__headerRow {
  padding-right: 1.754vh !important;
}

.ReactVirtualized__Table__headerColumn:first-of-type, .ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 1.032vh !important;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
  margin-right: 1.032vh !important;
}
