#filterSummaryContainer
{
    width: 94%;
    height:95%;
        overflow: auto;
    margin-left: 3%;
    border: 1px;
    border-color: black;
    border-style: double;
}

.btnSave {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2.5px;
    font-size: 13px !important;
    height: 22px;
    line-height: 24px;
}

.marginTop {
     margin-top: 5px;
}

.standardFont { 
    font-size: 13px !important; 
} 
 
.dropdown-content li > a, .dropdown-content li > span{ 
    padding: 12px 14px; 
} 
 
.chip .close { 
    float: left; 
    padding-left: 0px; 
}
.crosscolor{
    color:black;
}