.nav-wrapper {
	background-color: steelblue;
}

.close-button {
    height: 26px;
    background-color: steelblue;
}

.close-button:hover {
    background-color: rgb(59, 113, 158);

}

.filter-wrap{
    width: 93%;
}

.button-big-circle {
    left: 1%;
    position: fixed;
    top: 93%;
    background-color: steelblue;
}
.button-big-circle:hover {
    background-color: rgb(59, 113, 158);
}

.button-circle1{
    left: 1.4%;
    position: fixed;
    top: 88%;
}

.button-circle2{
    left: 1.4%;
    position: fixed;
    top: 83%;
}

.button-circle3{
    left: 1.4%;
    position: fixed;
    top: 77.9%;
}

.button-circle4{
    left: 1.4%;
    position: fixed;
    top: 72.9%;
}


/*-----------------         SIDE BAR           ----------------*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {

    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}