.statisticsBox {
    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1) !important;
    height: inherit !important;
    display: block !important;
    padding: 0.01rem !important;
}

.statTableFirstCol {
    height: inherit !important;
    width: 120px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.statTableCol{
    height: inherit !important;
    padding-left: 0px !important;
    padding-right: 10px !important;
}