<div flex layout="row" style="height:99%;">
    <md-sidenav flex="25" md-is-locked-open="true" class="md-whiteframe-z1">
      <md-content style="height:100%;overflow:hidden;">
        <div flex layout="row" style="height:100%;">
            <div layout="column" flex="45" class="sgx-data-col" ng-controller="DataCtrl">
                <div class="col-headers">Data</div>
                <div style="overflow:auto;margin-top:6px;">
                    <!--<div ng-repeat="field in fields" layout="row"><md-button flex class="md-raised md-cornered btn-center-content" style="margin-top:0px;line-height:24px;min-height:24px;" ng-class="{ 'selected-class-name': $index == selectedIndex }" ng-click="itemClicked($index)"><b>{{field}}</b></md-button></div>-->
                    <div class="item" id="{{item}}" ng-repeat="item in fields" draggable item="item" layout="row" style="margin-top:0px;line-height:24px;min-height:24px;"><b>{{item}}</b></div>
                </div>
            </div>
            <div layout="column" flex="20" class="sgx-map-col" ng-controller="MapCtrl">
                <div class="col-headers">Mappings</div>
                <div ng-repeat="item in collection" flex layout="row"><md-button droppable flex class="md-raised md-cornered btn-center-content" ng-class="{ 'selected-class-name': $index == selectedIndex }" ng-click="itemClicked($index)"><img ng-src="{{item[0]}}"><md-tooltip md-direction="right">{{item[1]}}</md-tooltip></md-button></div>
            </div>
            <div layout="column" flex="20" class="sgx-shape-col" ng-controller="ShapeCtrl">
                <div class="col-headers">Shapes</div>
                <div ng-repeat="shape in shapes" flex layout="row"><md-button droppable flex class="md-raised md-cornered btn-center-content" ng-class="{ 'selected-class-name': $index == selectedIndex }" ng-click="itemClicked($index)"><img ng-src="images/icons/{{shape}}.png" style="width:40px;height:40px;"></img><md-tooltip md-direction="right">{{shape}}</md-tooltip></md-button></div>
            </div>
            <div layout="column" flex="15" class="sgx-color-col" ng-controller="ColorCtrl">
                <div class="col-headers">Colors</div>
                <div ng-repeat="color in colors" flex layout="row"><md-button droppable flex class="md-raised md-cornered btn-center-content" ng-class="{ 'selected-class-name': $index == selectedIndex }" ng-click="itemClicked($index)"><i class="fa fa-square fa-2x" style="color:{{color}};" aria-hidden="true"></i><md-tooltip md-direction="right">{{color}}</md-tooltip></md-button></div>
            </div>
        </div>
      </md-content>
    </md-sidenav>
    <div layout="column" flex>
      <div droppable flex="85" layout="row" style="height:100%;background-color:black;position:relative;">
        <div id="glyphwindow" ng-include='"3d/demo.html"' style="position:absolute;"></div>
        <input type="color" id="bgColor" style="border-width:0px;position:absolute;bottom:0;right:0;margin-bottom:5px;margin-right:5px;" onchange="updateBackgroundColor();"></input>
      </div>
      <div flex="15" layout="row" style="height:100%;">
        <div layout="column" flex class="sgx-data-col">
            <div class="col-headers">Base Image</div>
            <!--
            Type: Default - Downloaded Map - Local Image
            Default: World, World (Grayscale), Black, Gray, White, Clear

            Map Options: (Type: Map, Satellite, Hybrid), Invert Colors, Grayscale
            Map Image Size: Width (2048), Height (1024), Fixed Size, Best Fit Closest To Size, Margin (50)

            World Space: Use Image Ratio, Lock Ratio, Width, Height
            Grid Lines: Hide, Lock Ratio, Horizontal, Vertical, Color

            Background Color
            -->
            <div class="base-image" ng-controller="BaseImageCtrl">
                <div layout="row" class="bi-type-switch">
                    <div layout="column" flex="35">
                        <div layout="row">
                            <label style="padding:4px;">Type:</label>
                            <select name="biType" id="biType" class="mbodyTag" ng-model="BIType" ng-change="propertyChanged(this)">
                                <option ng-repeat="option in typeOptions" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div layout="column" flex="65">
                        <div ng-show="isSet('Default')">
                            <label style="padding:4px;">Image:</label>
                            <select name="biImage" id="biImage" class="mbodyTag" ng-model="BIImage" ng-change="propertyChanged(this)">
                                <option ng-repeat="option in dfltOptions" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        <div ng-show="isSet('Downloaded Map')">
                            <div layout="row">
                                <label style="padding:4px;font-size:12px;">Map Options:</label>
                                <select name="biMap" id="biMap" class="sbodyTag" ng-model="BIMap" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in mapOptions" value="{{option}}">{{option}}</option>
                                </select>
                                <label style="padding:4px;font-size:12px;">Invert:</label>
                                <input id="mo-invert" type="checkbox"></input>
                                <label style="padding:4px;font-size:12px;">Grayscale:</label>
                                <input id="mo-grayscale" type="checkbox"></input>
                            </div>
                            <div layout="row">
                                <label style="padding:4px;font-size:12px;">Map Image Margin:</label>
                                <input ng-model="Mapimgsize" step="1" min="0" type="number" class="sbodyTag" style="width:50px;padding:0px;" id="mapimgsize"></input>
                            </div>
                        </div>
                        <div ng-show="isSet('Local Image')">
                            <input type="file" name="localfile" id="localfile" class="inputfile"></input>
                            <label for="localfile">Choose a file</label>
                        </div>
                    </div>
                </div>
                <div layout="row" style="margin-bottom:4px;" class="bi-type-switch">
                    <div layout="column" flex="25">
                        <div layout="row">
                            <label style="padding:4px;">World Space:</label>
                        </div>
                    </div>
                    <div layout="column" flex="75">
                        <div layout="row" style="margin:auto;">
                            <label style="padding:4px;font-size:12px;">Lock Image Ratio:</label>
                            <input id="imgratio" type="checkbox"></input>
                            <label style="padding:4px;font-size:12px;">Width:</label>
                            <input ng-model="WSwidth" step="1" min="0" type="number" class="sbodyTag" style="width:50px;padding:0px;" id="wswidth"></input>
                            <label style="padding:4px;font-size:12px;">Height:</label>
                            <input ng-model="WSheight" step="1" min="0" type="number" class="sbodyTag" style="width:50px;padding:0px;" id="wsheight"></input>
                        </div>
                    </div>
                </div>
                <!--<div layout="row" style="margin-bottom:4px;">
                    <label style="display:block;padding:4px;">Grid Lines:</label>
                </div>-->
            </div>
        </div>
        <div layout="column" flex class="sgx-data-col">
            <div class="col-headers">Axes</div>
            <!--<div class="axis-css" ng-controller="AxisCtrl">
                <div layout="row" style="margin-bottom:4px;">
                    <label style="display:block;padding:4px;font-size:14px;">X-Axis:</label>
                    <span flex></span>
                    <select name="xAxis" id="xAxis" class="mbodyTag" ng-model="AxisX" ng-change="propertyChanged(this)">
                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                    </select>
                </div>
                <div layout="row" style="margin-bottom:4px;">
                    <label style="display:block;padding:4px;font-size:14px;">Y-Axis:</label>
                    <span flex></span>
                    <select name="yAxis" id="yAxis" class="mbodyTag" ng-model="AxisY" ng-change="propertyChanged(this)">
                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                    </select>
                </div>
                <div layout="row" style="margin-bottom:4px;">
                    <label style="display:block;padding:4px;font-size:14px;">Z-Axis:</label>
                    <span flex></span>
                    <select name="zAxis" id="zAxis" class="mbodyTag" ng-model="AxisZ" ng-change="propertyChanged(this)">
                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                    </select>
                </div>
            </div>
            <div ng-controller="BackgroundCtrl">
                <div layout="row" style="margin-bottom:4px;">
                    <label style="padding:4px;">Background Color:</label>
                    <input type="color" ng-model="Bgcolor" ng-change="propertyChanged(this)"></input>
                </div>
            </div>-->
        </div>
      </div>  
    </div>
    <md-sidenav flex="20" md-is-locked-open="true" class="md-whiteframe-z1">
      <md-content style="height:100%;">
        <div flex layout="row" style="height:100%;">
            <div layout="column" flex="100" class="sgx-prop-col">
                <div class="col-headers">Properties</div>
                <div id="sgx-props" class="sgx-properties" ng-controller="MappingCtrl">
                    <md-collapsible class="md-accordion multiple-open">
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>Position</b>
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item md-open="true"> 
                            <md-collapsible-header layout="row" class="prop-open-arrow">
                                <i class="fa fa-angle-down"></i>
                            </md-collapsible-header>
                            <md-collapsible-body style="padding:6px;">
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Position X:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="-180.0" id="PosXmin"></input>
                                    <input type="number" class="prop-min-max" value="180.0" id="PosXmax"></input>
                                    <select name="PosX" id="PosX" class="mbodyTag" ng-model="PosX" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>   
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Position Y:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="-90.0" id="PosYmin"></input>
                                    <input type="number" class="prop-min-max" value="90.0" id="PosYmax"></input>
                                    <select name="PosY" id="PosY" class="mbodyTag" ng-model="PosY" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>   
                                <div layout="row">
                                    <label style="display:block;padding:4px;font-size:14px;">Position Z:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="0.0" id="PosZmin"></input>
                                    <input type="number" class="prop-min-max" value="0.0" id="PosZmax"></input>
                                    <select name="PosZ" id="PosZ" class="mbodyTag" ng-model="PosZ" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>  
                            </md-collapsible-body>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>Rotation</b>
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow">
                                <i class="fa fa-angle-down"></i>
                            </md-collapsible-header>
                            <md-collapsible-body style="padding:6px;">
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Rotation X:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotXmin"></input>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotXmax"></input>
                                    <select name="RotX" id="RotX" class="mbodyTag" ng-model="RotX" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>     
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Rotation Y:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotYmin"></input>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotYmax"></input>
                                    <select name="RotY" id="RotY" class="mbodyTag" ng-model="RotY" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>      
                                <div layout="row">
                                    <label style="display:block;padding:4px;font-size:14px;">Rotation Z:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotZmin"></input>
                                    <input type="number" class="prop-min-max" value="0.0" id="RotZmax"></input>
                                    <select name="RotZ" id="RotZ" class="mbodyTag" ng-model="RotZ" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>      
                            </md-collapsible-body>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>Scale</b>
                                <span flex></span>
                                <input ng-model="Sclmin" step="0.01" min="0.01" type="number" class="prop-min-max" id="Sclmin" ng-change="propertyChanged(this)"></input>
                                <input ng-model="Sclmax" step="0.01" min="0.01" type="number" class="prop-min-max" id="Sclmax" ng-change="propertyChanged(this)"></input>
                                <select name="Scl" id="Scl" class="mbodyTag" ng-model="Scl" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                </select> 
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow">
                                <i class="fa fa-angle-down"></i>
                            </md-collapsible-header>
                            <md-collapsible-body style="padding:6px;">
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Scale X:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclXmin" ng-model="SclXmin" ng-change="propertyChanged(this)"></input>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclXmax" ng-model="SclXmax" ng-change="propertyChanged(this)"></input>
                                    <select name="SclX" id="SclX" class="mbodyTag" ng-model="SclX" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>     
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Scale Y:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclYmin" ng-model="SclYmin" ng-change="propertyChanged(this)"></input>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclYmax" ng-model="SclYmax" ng-change="propertyChanged(this)"></input>
                                    <select name="SclY" id="SclY" class="mbodyTag" ng-model="SclY" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>      
                                <div layout="row">
                                    <label style="display:block;padding:4px;font-size:14px;">Scale Z:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclZmin" ng-model="SclZmin" ng-change="propertyChanged(this)"></input>
                                    <input type="number" class="prop-min-max" step='0.01' min="0.01" id="SclZmax" ng-model="SclZmax" ng-change="propertyChanged(this)"></input>
                                    <select name="SclZ" id="SclZ" class="mbodyTag" ng-model="SclZ" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>   
                            </md-collapsible-body>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>Color</b>
                                <span flex></span>
                                <input type="color" class="prop-min-max" id="Clrmin" ng-model="Clrmin" ng-change="propertyChanged(this)"></input>
                                <input type="color" class="prop-min-max" id="Clrmax" ng-model="Clrmax" ng-change="propertyChanged(this)"></input>
                                <select name="Clr" id="Clr" class="mbodyTag" ng-model="Clr" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                </select>  
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow">
                                <i class="fa fa-angle-down"></i>
                            </md-collapsible-header>
                            <md-collapsible-body style="padding:6px;">
                                <div layout="row">
                                    <label style="display:block;padding:4px;font-size:14px;">Transparency:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" id="Alphmin" ng-model="Alphmin" ng-change="propertyChanged(this)"></input>
                                    <input type="number" class="prop-min-max" id="Alphmax" ng-model="Alphmax" ng-change="propertyChanged(this)"></input>
                                    <select name="Alph" id="Alph" class="mbodyTag" ng-model="Alph" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>        
                            </md-collapsible-body>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row"> 
                                <b>Geometry</b>
                                <span flex></span>
                                <select name="Geomax" id="Geomax" class="mbodyTag" style="margin-right:6px;" ng-model="Geomax" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in geoOptions" value="{{option}}">{{option}}</option>
                                </select> 
                                <select name="Geo" id="Geo" class="mbodyTag" ng-model="Geo" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                </select> 
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow">
                                <i class="fa fa-angle-down"></i>
                            </md-collapsible-header>
                            <md-collapsible-body style="padding:6px;">
                                <div layout="row" style="margin-bottom:4px;">
                                    <label style="display:block;padding:4px;font-size:14px;">Surface Type:</label>
                                    <span flex></span>
                                    <select name="Srfmax" id="Srfmax" class="mbodyTag" style="margin-right:6px;" ng-model="Srf" ng-change="propertyChanged(this)">
                                        <option ng-repeat="option in srfOptions" value="{{option}}">{{option}}</option>
                                    </select> 
                                </div>  
                                <div layout="row">
                                    <label style="display:block;padding:4px;font-size:14px;">Torus Ratio:</label>
                                    <span flex></span>
                                    <input type="number" class="prop-min-max" value="0.1" step='0.01' id="Rtomax"></input>
                                </div>       
                            </md-collapsible-body>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>Tag</b>
                                <span flex></span>
                                <select name="Tag" id="Tag" class="mbodyTag" ng-model="Tag" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                </select> 
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow"></md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row">
                                <b>URL</b>
                                <span flex></span>
                                <select name="Url" id="Url" class="mbodyTag" ng-model="Url" ng-change="propertyChanged(this)">
                                    <option ng-repeat="option in tagOptions" value="{{option}}">{{option}}</option>
                                </select> 
                            </md-collapsible-header>
                        </md-collapsible-item>
                        <md-collapsible-item> 
                            <md-collapsible-header layout="row" class="prop-open-arrow"></md-collapsible-header>
                        </md-collapsible-item>
                    </md-collapsible>
                </div>
            </div>
        </div>
      </md-content>
    </md-sidenav>
</div>
<div flex layout="row" style="height:1%;background-color: #313390;"></div>
